<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Number Translator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Number to French Translator</h1>
        <input type="text" id="numberInput" placeholder="Enter numbers separated by commas">
        <button onclick="translateNumbers()">Translate</button>
        <div id="result"></div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>